{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>About Page</h1>
    {% if registered %}
        Rango says: <strong>thank you for registration!</strong>
        <a href="{% url 'rango:index' %}">Return to homepage</a>
    {% else %}
        Rango says: <strong>please register here:</strong><br>
        <form action="{% url 'rango:register' %}" method="post" id="user_form" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register">
        </form>
    {% endif %}
{% endblock %}